<h2>Crea tu usuario</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col-md-4">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "form-control mb-2" }%>
    <%= f.input :name,
                label: 'Nombre',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "nombre", class: "form-control mb-2" }%>
    <%= f.input :lastname,
                label: 'Apellido',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "apellido", class: "form-control mb-2" }%>
    <%= f.input :gamer_id,
                label: 'id de jugador',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "id de jugador", class: "form-control mb-2" }%>
    <%= f.input :password,
                label: 'Crea tu contraseña',
                required: true,
                hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "form-control" } %>
    <br>
    <%= f.input :password_confirmation,
                label: 'Confirma tu contraseña',
                required: true,
                input_html: { autocomplete: "new-password", class: 'form-control mb-2' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Crear usuario', class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
