<p id="notice"><%= notice %></p>

<div class='col-md-6'>
  <h1>Participantes de la liga: <strong><%= @league.capitalized_name %></strong></h1>
</div>

<div class='col-md-8'>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id de jugador</th>
        <th scope="col">Posición</th>
        <th scope="col">Puntaje preliminar</th>
        <th scope="col">Puntos de penalización</th>
        <th scope="col">Puntos de bonificación</th>
        <th scope="col">Puntaje final</th>
      </tr>
    </thead>
    <tbody>
      <% @league_participants.each do |league_participant| %>
        <tr>
          <td><%= league_participant.user.gamer_id %></td>
          <td><%= league_participant.position %></td>
          <td><%= league_participant.preliminary_score %></td>
          <td>-<%= league_participant.sanction_points %></td>
          <td><%= league_participant.bonus_points %></td>
          <td><%= league_participant.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a href="<%= league_races_path(league_id: @league.id) %>" class="btn btn-dark">Volver a carreras de liga</a>
<a href="<%= leagues_path %>" class="btn btn-dark">Volver a ligas</a>
