<p id="notice"><%= notice %></p>

<div class='col-md-6'>
  <h1>Puntos extra de la carrera: <strong><%= @league_race.capitalized_name %></strong></h1>
</div>

<%= link_to 'Agregar punto extra', new_bonus_point_path(league_race_id: @league_race.id) %>

<div class='col-md-8'>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id de jugador</th>
        <th scope="col">Descripción</th>
        <th scope="col">Puntos extra</th>
      </tr>
    </thead>
    <tbody>
      <% @bonus_points.each do |bonus_point| %>
        <tr>
          <td><%= bonus_point.race_participant.user.gamer_id %></td>
          <td><%= bonus_point.description %></td>
          <td><%= bonus_point.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a href="<%= race_participants_path(league_race_id: @league_race.id) %>" class="btn btn-dark">Ver tabla de resultados de carrera</a>
<a href="<%= league_races_path(league_id: @league_race.league_id) %>" class="btn btn-dark">Volver a carreras de liga</a>
<a href="<%= league_participants_path(league_id: @league_race.league_id) %>" class="btn btn-dark">Ir a tabla general de la liga</a>
