<%= simple_form_for(@league_race) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs col-md-6">
    <%= f.association :league, as: :hidden,
                               input_html: { class: 'form-control mb-2', value: @league.id } %>
    <%= f.input :name, input_html: { class: 'form-control mb-2' } %>
    <%= f.input :description, input_html: { class: 'form-control mb-2' } %>
    <%= f.association :race_track, collection: RaceTrack.order(:name),
                                   prompt: 'Seleccione una pista',
                                   input_html: { class: 'form-control mb-2' } %>
    <%= hidden_field_tag(:score_system_id, @positions_for_select[0].score_system_id) %>
    <br>
    <h4>Participantes</h4>
    <%= f.fields_for :race_participants do |race_participant| %>
      <%= render 'race_participant_fields', f: race_participant %>
    <% end %>

    <div class="link">
      <%= link_to_add_association "Agregar otro participante", f, :race_participants %>
    </div>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, 'Crear nueva carrera', class: "btn btn-primary" %>
  </div>
<% end %>
