<p id="notice"><%= notice %></p>

<div class='col-md-6'>
  <h1>Carreras de <strong><%= @league&.name %></strong></h1>
</div>

<%= link_to 'Crear nueva carrera', new_league_race_path(league_id: @league.id) %>
<br>
<% @league_races.each do |league_race| %>
  <div class="card col-md-6 mt-2">
    <div class="card-body">
      <h4 class="card-title"><%= league_race.capitalized_name %></h4>
      <p class="card-text">Descripción: <%= league_race.description %></p>
      <p class="card-text">Pista: <strong><%= league_race.race_track.name %></strong></p>
      <a href="<%= score_system_path(league_race.score_system_id)%>">Sistema de puntaje</a>
      <br>
      <a href="<%= race_participants_path(league_race_id: league_race.id) %>" class="btn btn-dark">Ver tabla de resultados</a>
      <a href="<%= sanctions_path(league_race_id: league_race.id) %>" class="btn btn-dark">Ver sanciones</a>
      <a href="<%= bonus_points_path(league_race_id: league_race.id) %>" class="btn btn-dark">Ver puntos extra</a>
    </div>
  </div>
<% end %>

