<p id="notice"><%= notice %></p>

<h1>Pistas de Carreras</h1>

<% @race_tracks.each do |track| %>
  <div class="card col-md-4">
    <div class="card-body">
      <h4 class="card-title"><%= track.name.capitalize %></h4>
      <p class="card-text">Descripción: <%= track.description %></p>
      <p class="card-text">País: <strong><%= track.country %></strong></p>
      <a href="<%= race_track_path(track.id) %>" class="btn btn-dark">Ver más</a>
    </div>
  </div>
<% end %>


<br>

<%= link_to 'New Race Track', new_race_track_path %>
