<%= simple_form_for @score_system do |form| %>
  <% if score_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score_system.errors.count, "error") %> prohibited this score_system from being saved:</h2>

      <ul>
        <% score_system.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4">
    <div class="field">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <h4>Posiciones y puntos</h4>
  <%= form.fields_for :points_for_positions do |points_for_position| %>
    <%= render 'points_for_position_fields', f: points_for_position %>
  <% end %>

  <div class="link">
    <%= link_to_add_association "Agregar otra posición", form, :points_for_positions %>
  </div>
  <div class="actions">
    <%= form.button :submit, 'Crear nuevo sistema de puntaje', class: "btn btn-primary" %>
  </div>
<% end %>
