<p id="notice"><%= notice %></p>

<h1>Sistemas de puntaje</h1>

<% @score_systems.each do |score_system| %>
  <div class="card col-md-4">
    <div class="card-body">
      <h4 class="card-title"><%= score_system.name.capitalize %></h4>
      <p class="card-text">Descripción: <%= score_system.description %></p>
      <a href="<%= score_system_path(score_system.id) %>" class="btn btn-dark">Ver más</a>
    </div>
  </div>
<% end %>
<%= link_to 'New Score System', new_score_system_path %>
