<p id="notice"><%= notice %></p>

<h1>Sistema de puntaje: <strong><%= @score_system.name %></strong></h1>
<p><%= @score_system.description %></p>

<div class='col-md-7'>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre Posición</th>
        <th scope="col">Posición</th>
        <th scope="col">Puntaje</th>
      </tr>
    </thead>
    <tbody>
      <% @points_for_positions.each do |position| %>
        <tr>
          <td><%= position.name %></td>
          <td><%= position.position %></td>
          <td><%= position.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'Editar', edit_score_system_path(@score_system) %> |
<%= link_to 'Regresar', score_systems_path %>
